# Solutions for Chap 02 exercises - Data Science Academy
# Author: Guilherme Teixeira Semissatto
# 09/feb/2018

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for item in list:
    print (item)

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [ ]:
list_of_objects = ["apple", "banana", "orange", "watermelon", "grape"]
for item in list_of_objects:
    print (item)

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [ ]:
first_name    = "Guilherme "
last_name     = "Semissatto"
full_name     = first_name + last_name
print (full_name)

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [ ]:
elements = (1, 2, 2, 3, 4, 4, 4, 5)
elements.count(4)

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [ ]:
dic0 = {}
print (dic0)

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [ ]:
names_and_ages = {"Guilherme":24, "Diego":23, "Felipe":21}
print (names_and_ages)

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
aux_dic = {"Eidy":53}
names_and_ages.update(aux_dic)
print (names_and_ages)
names_and_ages["Wilson"] = 57
print (names_and_ages)

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
names_and_ages["Wilson"]

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [ ]:
name_ages_and_heights = {"Guilherme":[24, 1.71], "Diego":23, "Felipe":21}
print (name_ages_and_heights)

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [ ]:
list2 = ["Guilherme", (24, 1.71), {"Idade":24, "Altura": 1.71}, 12.34]
print (list2)

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [ ]:
print (frase[0:18])